@import "../../scss/breakpoints";

.div {
  margin-top: 1.5rem;

  @include mobile {
    width: 95%;
    margin: 1.5rem auto;
  }

  .title {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    margin-bottom: 1.5rem;

    svg {
      width: 1.3rem;
      color: var(--secondary);
    }

    h4 {
      font-weight: 500;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
    }
  }
}

.child {
  background-color: var(--primary);
  padding: 1rem 0.75rem;
  border-bottom: 1px solid var(--border);

  &:last-child {
    border-bottom: 0;
  }

  header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    a {
      font-weight: 500;
      font-size: 0.95rem;
      color: var(--secondary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .body {
    margin: 0.75rem 0;

    p {
      font-size: 0.9rem;

      a {
        color: var(--main);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  footer {
    a {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;
      color: var(--fade);

      svg {
        width: 1rem;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }
}
