.button {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  border: 0;
  background-color: transparent;

  svg {
    width: 1.25rem;
    color: var(--main);
  }

  p {
    font-size: 0.95rem;
    color: var(--main);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  &:hover {
    svg {
      opacity: 0.8;
    }
    p {
      opacity: 0.8;
    }
  }
}
