@import "../../scss/breakpoints";

.modal {
  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    svg {
      width: 2rem;
      color: crimson;
      cursor: pointer;
    }
  }

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100px;
      height: 100px;
      color: var(--secondary);
    }
  }

  .text {
    text-align: center;
    margin: 1rem 0;

    h2 {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    @include mobile {
      display: block;
    }

    button {
      flex: 1;
      display: block;
      padding: 0.75rem 0;
      border: 0.15rem solid transparent;
      border-radius: 0.25rem;
      font-family: "Poppins", sans-serif;

      @include mobile {
        width: 100%;
      }

      &:first-child {
        background-color: var(--main);
        color: #fff;

        @include mobile {
          margin-bottom: 0.5rem;
        }
      }

      &:last-child {
        background-color: transparent;
        border-color: var(--main);
        color: var(--main);
      }

      &:hover {
        transform: scale(0.98);
      }
    }
  }
}
