@import "../../scss/breakpoints";

.header {
  background-color: var(--primary);
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 9;

  &.scrolled {
    background-color: var(--scrolled);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }

    .logo {
      h1 {
        font-weight: 800;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        color: var(--main);

        @include mobile {
          font-size: 1.5rem;
        }
      }
    }

    .search {
      position: relative;
      height: 45px;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.25rem;
        color: #777;
        width: 1.5rem;
      }

      input {
        height: 100%;
        padding-left: 2rem;

        &:focus {
          border-color: var(--main);
        }
      }
    }
  }
}
