.form {
  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    svg {
      width: 2rem;
      color: crimson;
      cursor: pointer;
    }
  }

  small {
    display: block;
    text-align: center;
    margin: 0.75rem 0;
    color: crimson;
  }

  .title {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
  }

  button {
    height: 50px;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: var(--main);
    color: #fff;
    border: 0.15rem solid transparent;

    &:hover {
      background-color: darken($color: #18298d, $amount: 15);
    }
  }

  .field {
    margin-bottom: 0.75rem;

    input {
      appearance: none;
      border: none;
      padding: 0.25rem 0;
      background-color: transparent;
      height: 45px;
      color: var(--text-color);

      &:focus {
        outline: none;

        & ~ .line {
          background-color: var(--main);
        }
      }
    }

    select {
      appearance: none;
      border: none;
      padding: 0.25rem 0;
      background-color: transparent;
      height: 45px;
      color: var(--text-color);

      &:focus {
        outline: none;

        & ~ .line {
          background-color: var(--main);
        }
      }
    }

    textarea {
      appearance: none;
      border: none;
      padding: 0.25rem 0;
      background-color: transparent;
      color: var(--text-color);

      &:focus {
        outline: none;

        & ~ .line {
          background-color: var(--main);
        }
      }
    }

    .line {
      height: 0.125rem;
      border-radius: 0.05rem;
      width: 100%;
      background-color: #ddd;
      background-color: var(--line-color);
    }
  }
}
