.form {
  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    svg {
      width: 2rem;
      color: crimson;
      cursor: pointer;
    }
  }

  small {
    display: block;
    text-align: center;
    margin: 0.75rem 0;
    color: crimson;
  }

  .title {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
  }

  .line {
    height: 0.15rem;
    border-radius: 0.1rem;
    width: 100%;
    background-color: #ddd;
  }

  button {
    height: 50px;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: var(--main);
    color: #fff;
    border: 0.15rem solid transparent;

    &:hover {
      background-color: darken($color: #18298d, $amount: 15);
    }
  }

  .field {
    margin-bottom: 0.75rem;
  }

  input {
    width: 100%;
    border: 0.15rem solid #ddd;
    border-radius: 0.25rem;
    height: 45px;

    &:focus {
      outline: none;
      border-color: var(--main);
    }
  }

  select {
    width: 100%;
    border: 0.15rem solid #ddd;
    border-radius: 0.25rem;
    height: 45px;

    &:focus {
      outline: none;
      border-color: var(--main);
    }
  }

  textarea {
    width: 100%;
    border: 0.15rem solid #ddd;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
      border-color: var(--main);
    }
  }
}
